body{
  margin:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0f8ff;
}
h1{
  color:rgba(2, 67, 69, 0.962);
  font-size: 3rem;
}

form{ 
  text-align: center;
  font-weight: 700;
  background-color:rgba(255, 250, 250, 0.803);
  margin: auto;
  max-width: 450px;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(1, 42, 43);
}
#textbox{
  width: 60%;
  font-size: 2rem;
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times;
  border:2px solid rgb(1, 42, 43) ;
  border-radius: 5px;
  margin:0 auto 20px auto;
}

label{
  font-size: 1.5rem;
}
button{
  margin-top: 20px;
  padding: 6px;
  font-size:1.5rem ;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
}
button:hover{
  background-color: hsl(122, 39%, 39%);
}
#result{
  font-size: 2rem;
  font-family: 'Times New Roman';
  margin: 20px;
}
@media(max-width:500px){
  form{
    max-width: 400px;
    padding: 1rem;
  }
  h1{
    font-size: 2.5rem;
  }
  #textbox{
  width: 50%;
  font-size: 2rem;
  }
}


